ion-header {
  background-color: white;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  ion-icon {
    font-size: 3em;
  }

  ion-toolbar {
    position: absolute;
    --background: none;
  }

  ion-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 600;
  }
}

ion-list {
  padding: 0;

  #console-container {
    background-color: black;
    max-height: 25vh;
    overflow-y: scroll;

    #console {

    }
  }
}

#divChart {
  display: block;
  width: 400px;
  height: 400px;
}

#BLEStatus {
  max-height: 200px;
  overflow-y: scroll;
}
