ion-header {
  background-color: white;
  height: fit-content;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  ion-icon {
    font-size: 3em;
  }

  ion-toolbar {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    height: 100%;
    --background: none;
  }

  ion-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 600;
  }
}

ion-list {
  padding: 0;

  #console-container {
    background-color: black;
    max-height: 25vh;
    overflow-y: scroll;

    #console {

    }
  }
}

#dev {
  position: absolute;
  width: 100%;
  // Translate to 0 if the dev-Tools are needed.
  transform: translateY(-100%);
  z-index: 99;
  background-color: white;
}

#divChart {
  display: block;
  width: 400px;
  height: 400px;
}

#BLEStatus {
  max-height: 200px;
  overflow-y: scroll;
}

.device {
  border-bottom: rgb(192,192,192) solid 1px;
}

.mainContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

#connect {
  position: absolute;
  display: grid;
  place-items: center;
  font-size: 2em;
  height: 200px;
  width: 200px;
  color: white;
  background-color: black;
  border-radius: 50%;
}

#connect:active {
  transform: scale(0.9);
}

#radar {
  visibility: hidden;
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid black;
  animation: pulsation 2s infinite ease-out;
}

@keyframes pulsation {
  0% {
    transform: scale(1);
    opacity: 0%;
  }
  20% {
    opacity: 100%;
  }
  70% {
    transform: scale(3);
    opacity: 0%;
  }
  to {
    transform: scale(3);
    opacity: 0%;
  }
}

.idContainer {
  text-align: center;
  h1{
    font-weight: bold;
    margin: 0;
    margin-bottom: 1em;
  }
}

.picContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .picHalf {
    position: relative;
    display: grid;
    width: 60px;
    height: 80px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

#idPic-wrapper {

}

#idPic-wrapper-flipped {
  -moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.nofill{
  background-color: white;
}
.fill{
  background-color: black;
}
