<ion-app>
  <ion-header translucent="false" mode={{deviceMode}}>
    <div class="header">
      <ion-icon name="Bluetooth" color="primary"></ion-icon>
    </div>
  </ion-header>

  <ion-content fullscreen>
    <div id="dev">

      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button id="advertise-button" fill="clear"> Advertise </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
          <ion-button id="scan-button" fill="clear"> Scan Devices </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <ion-button expand="full" color="light" (click)="dataRequest()">Open Connection</ion-button>

      <ion-list>
        <ion-card-content id="console-container">
          <p id="console"></p>
        </ion-card-content>
      </ion-list>

      <section>
        <ion-button expand="full" color="primary" (click)="startConnection()">Join</ion-button>
      </section>

      <ion-list>
        <ion-item>
          <ion-label><b>Found Devices</b></ion-label>
          <ion-badge slot="end">{{deviceList.length}}</ion-badge>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item *ngFor="let device of deviceList"
        class="device"
        id="{{device.device.address}}">
          <ion-label [ngStyle]="{'color': '#' + device.playerID}">{{device.playerID}}</ion-label>
          <ion-badge slot="end" [ngStyle]="{'background-color': '#' + device.playerID}">{{device.rssi[device.rssi.length - 1]}}</ion-badge>
        </ion-item>
      </ion-list>
      <div (click)="toggleConsole()" style="height: 200px; width: 50px; transform:translateY(100%)"></div>
    </div>

    <!-- Ab hier kommt der Content, welcher für den Nutzer sichtbar sein sollte -->
    <div class="mainContainer" [ngStyle]="{'background-color': '#' + playerID}">

      <div id="radar" [ngStyle]="{'border-color': getContrastingColor(playerID)}"></div>

      <div class="idContainer">
        <h1 [ngStyle]="{'color': getContrastingColor(playerID)}">{{playerID}}</h1>
      </div>
      <div class="picContainer">
        <div class="picHalf" id="idPic-wrapper"></div>
        <div class="picHalf" id="idPic-wrapper-flipped"></div>
      </div>

      <div id="connect" (click)="startConnection()" [ngStyle]="{'background-color': getContrastingColor(playerID), 'color': '#' + playerID}">Start</div>


    </div>

  </ion-content>
</ion-app>
