<ion-header [translucent]="false" [mode]="deviceMode">

  <div class="header">

      <ion-icon name="Bluetooth" color="primary"></ion-icon>

    <ion-toolbar>

      <ion-buttons slot="start">

        <ion-button id="advertise-button" fill="clear">
          Advertise
        </ion-button>

      </ion-buttons>

      <ion-buttons slot="end">

        <ion-button id="scan-button"  fill="clear">
          Scan Devices
        </ion-button>

      </ion-buttons>

    </ion-toolbar>

  </div>

</ion-header>


<ion-content>
  <ion-list>
    <ion-card-content id="console-container">
      <p id="console"></p>
    </ion-card-content>
    <ion-card-content>
      <div *ngFor="let device of deviceList" class="device" id={{device.device.address}}>
        <h2>Device: <b>{{device.device.address}}</b></h2>
        <p>RSSI: {{device.device.rssi}}</p>
        <p *ngIf="device.device.name">{{device.device.name}}</p>
        <p *ngIf="device.device.uuid">{{device.device.uuid}}</p>
      </div>
    </ion-card-content>
  </ion-list>
</ion-content>

